
body {
    font-family: helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}
.container {
    border: solid 1px black;
    border-radius: 1em;
    padding: 15px;
    background-color: #ffe262;
    box-shadow: 0.2em 0.2em 2em #585858;
    max-width: 420px;
    z-index: 10;
}
.stor {
    max-width: 360px;

}
.btn {
    display: flex;
    justify-content: flex-end;
}
.randomize {
    padding: 13px 10px;
    background-color: #91c4839d;
    border-radius: 1em;
    border: none;
    color: #3f573a;
    transition: background-color 0.3s, color 0.3s ;
    // animation-name: unhoverAnimation;
    // animation-duration: 0.3s;
    &:hover {
        background-color: #ff6464a4;
        color: #9e3c3ccc;
        transition: background-color 0.3s, color 0.3s ;
        // animation-name: hoverAnimation;
        // animation-duration: 0.3s;
    }
    &:active {
        background-color: #ecd157;
        transition: background-color 0.001s ;
    }
}
// @keyframes hoverAnimation {
//     0% {background-color: #91c4839d;}
//     0% {color: #3f573a;}
//     100% {background-color: #ff6464a4}
//     100% {color: #9e3c3ccc;}
// }
// @keyframes unhoverAnimation {
//     0% {background-color: #ff6464a4}
//     0% {color: #9e3c3ccc;}
//     100% {background-color: #91c4839d;}
//     100% {color: #3f573a;}
//}

label {
    font-weight: bold;
}

div {
    padding-bottom: 20px;
    color: #3f573a;
}

input[type="text"] {
    padding: 5px;
    margin-left: 1em;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 0.3em;
    background-color: #f3f3f3;
    color: #3f573a;
}

p {
    background: #ff6464d8;
    color: #3f573a;
    border-radius: 0 0 1em 1em;
    box-shadow: inset 0 20px 30px 0 #b64949;
    box-shadow: 5px 5px 30px #585858;
    margin-top: -1em;
    z-index: -100;
    padding: 10px;
    padding-top: 30px;
    visibility: hidden;
}
